<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068861631350-q38uuptaa98to57kvu963qrr487fhl87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068861631350-q38uuptaa98to57kvu963qrr487fhl87</string>
	<key>API_KEY</key>
	<string>AIzaSyCcJvlpxYB-NEQNoiSHlEPp5k8WKSqWBuU</string>
	<key>GCM_SENDER_ID</key>
	<string>1068861631350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adawifi</string>
	<key>PROJECT_ID</key>
	<string>adawifi-c4ade</string>
	<key>STORAGE_BUCKET</key>
	<string>adawifi-c4ade.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068861631350:ios:753b2182c4469e9b93e857</string>
	<key>DATABASE_URL</key>
	<string>https://adawifi-c4ade.firebaseio.com</string>
</dict>
</plist>